<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /bd_20_laba/

  # RewriteCond %{HTTP_HOST} ^localhost
  # RewriteRule (.*) http://localhost/bd_20_laba/$1 [R=301,L]

  # Redirect to api.php if URL starts with /api/
  RewriteCond %{REQUEST_URI} !(\.png|\.jpg|\.webp|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js|\.pdf|\.mo|\.po)$ [NC]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_URI} ^/bd_20_laba/api/ [NC]
  RewriteRule (.*) api.php [QSA,L]

  # Redirect to routes.php for all other URLs
  RewriteCond %{REQUEST_URI} !(\.png|\.jpg|\.webp|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js|\.pdf|\.mo|\.po)$ [NC]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_URI} !^/bd_20_laba/assets/ [NC]
  RewriteCond %{REQUEST_URI} !^/bd_20_laba/api/ [NC]
  RewriteRule (.*) routes.php [QSA,L]
</IfModule>