<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /laba_dis/

  # RewriteCond %{HTTP_HOST} ^localhost
  # RewriteRule (.*) http://localhost/laba_dis/$1 [R=301,L]

  # Redirect to api.php if URL starts with /api/
  RewriteCond %{REQUEST_URI} !(\.png|\.jpg|\.webp|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js|\.pdf|\.mo|\.ttf|\.woff2|\.po)$ [NC]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_URI} ^/laba_dis/api/ [NC]
  RewriteRule (.*) api.php [QSA,L]

  # Redirect to routes.php for all other URLs
  RewriteCond %{REQUEST_URI} !(\.png|\.jpg|\.webp|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js|\.pdf|\.mo|\.ttf|\.woff2|\.po)$ [NC]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_URI} !^/laba_dis/assets/ [NC]
  RewriteCond %{REQUEST_URI} !^/laba_dis/api/ [NC]
  RewriteRule (.*) routes.php [QSA,L]
</IfModule>