.banner {
  display: flex;
  align-items: center;
  background: var(--color-text);
  color: var(--color-bg);
  height: 3.5em;
  position: relative;
  width: 100%;
  padding-inline: 2em;
  overflow: hidden;

  @media screen and (width < 760px) {
    height: 5em;
  }

  &__logo {
    flex-shrink: 0;

    .logo {
      width: 1em;
      font-size: var(--font-size-0);
      fill: var(--color-bg);

      @media screen and (width < 900px) {
        display: none;
      }
    }
  }
  
  .banner__bg {
    position: absolute;
    inset: 0;
    pointer-events: none;

    .bg-part-2 {
        position: absolute;
        left: 50%;
        top: 0%;
        translate: -50% 0%;

        animation: rotate-animation 20s linear infinite;
    }
  }

  &__content {
    backdrop-filter: blur(25px);
    overflow: hidden;
    flex-grow: 1;
    height: 100%;
    position: relative;

    .content__scene {
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      user-select: none;
      pointer-events: none;
      transition: var(--transition-superslow);
      justify-content: center;
      gap: 1.5em;
      opacity: 0;
      bottom: 100%;
      height: 100%;

      .scene__image {
        @include image;

        width: 7em;
        height: 3.5em;
        flex-shrink: 0;
        object-position: center 20%;
        animation: scale-animation 5s infinite alternate;

        @media screen and (width < 760px) {
          display: none;
        }
      }

      .scene__phone {
        position: absolute;
        top: 50%;
        right: 0%;
        translate: 0 -50%;
        white-space: nowrap;

        &:hover,
        &:focus {
            transform: scale(1.05);
        }

        @media screen and (width < 760px) {
          position: relative;
          top: auto;
          right: auto;
          translate: 0 0;
        }
      }

      .scene__button {
        @include button;

        font-size: var(--font-size-5);
        color: var(--color-bg);
        background: var(--color-accent-transparent);
        border: 2px solid var(--color-secondary);
        padding: 0.25em 3em;
        text-align: center;
        border-radius: var(--border-radius-main);

        &:hover,
        &:focus {
            transform: scale(1.05);
        }

        @media screen and (width < 760px) {
          padding: 0.75em 3em;
        }
      }

      &.scene_1 {
      }

      &.scene_2 {
      }

      &.scene_3 {
      }
    }
  }

  &[data-scene="1"] .scene_1,
  &[data-scene="2"] .scene_2,
  &[data-scene="3"] .scene_3 {
    opacity: 1;
    bottom: 0%;
    user-select: all;
    pointer-events: all;
  }
  &[data-scene="2"] {
    background: var(--color-main);
  }
}

@keyframes scale-animation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}