.catalog {
  width: var(--width-main-content);
  position: relative;
  margin-inline: auto;
  padding-inline: 2em;

  &__list {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 2em;

    .list__item {
      position: relative;
      
      .item__image {
        position: relative;
        border: 2px solid var(--color-text-semivisible);
        z-index: 1;
        overflow: hidden;

        .image__description {
          position: absolute;
          inset: 0;
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(167, 168, 168, 0.253141) 22.4%,
            rgba(6, 7, 7, 0.72) 78.9%
          );
          display: flex;
          align-items: flex-end;
          padding: 1.5em;
          transition: var(--transition-slow);
          opacity: 0;
          translate: 0 1em;

          .description__text {
            color: var(--color-bg);
            margin-bottom: 2em;
            line-height: 1.35;
          }
        }

        .image__src {
          @include image;

          width: 100%;
          height: 32.5em;
          z-index: -1;
        }
      }

      .item__info {
        margin-top: 1em;
        display: flex;
        align-items: center;
        gap: 1.5em;
        justify-content: space-between;

        .info__left {
          display: flex;
          flex-direction: column;
          gap: 0.25em;

          .left__category {
            opacity: 0.5;
            font-size: var(--font-size-5);
            font-weight: 100;

            @media screen and (width < 768px) {
              font-size: var(--font-size-4);
            }
          }

          .left__name {
            font-size: var(--font-size-4);
            color: var(--color-main);
            font-weight: normal;

            @media screen and (width < 768px) {
              font-size: var(--font-size-3);
            }
          }
        }

        .info__right {
          .right__price {
            font-size: var(--font-size-4);
            white-space: nowrap;

            @media screen and (width < 768px) {
              font-size: var(--font-size-3);
            }
          }
        }
      }

      .item__actions {
        margin-top: 1em;
        display: flex;
        align-items: center;

        .actions__add-to-cart {
          @include button($border-radius: 0.5em);
          @include yandexDisplayFont;

          font-size: var(--font-size-5);
          color: var(--color-bg);
          background: var(--color-main);
          padding: 1em 2.5em;
          text-align: center;
          width: 100%;
          height: 3em;

          @media screen and (width < 768px) {
            height: 3.5em;
          }
        }

        .actions__change-quantity {
          display: none;
          align-items: stretch;
          justify-content: space-between;
          gap: .5em;
          width: 100%;

          .change-quantity__action-btn {
            @include button($border-radius: 0.5em);
            @include yandexDisplayFont;

            font-size: var(--font-size-5);
            color: var(--color-bg);
            background: var(--color-main);
            padding: 1em 1em;
            text-align: center;
            flex: 0 0 3em;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3em;

            .action-btn__default {
              display: initial;
            }

            .action-btn__secondary {
              display: none;
            }

            &.disabled {
              cursor: not-allowed;
              pointer-events: none;
              opacity: 0.5;
            }

            &.remove {
              .action-btn__secondary {
                display: initial;
              }

              .action-btn__default {
                display: none;
              }
            }

            @media screen and (width < 768px) {
              aspect-ratio: 1;
              height: 3.5em;
              font-size: var(--font-size-5);
            }
          }

          .change-quantity__input {
            @include yandexDisplayFont;

            font-size: var(--font-size-4);
            color: var(--color-text);
            background: var(--color-text-light);
            padding: 0.25em 1em;
            text-align: center;
            width: 100%;
            flex: 1;
            border: 1px solid #e0e0e0;
            border-radius: 0.5em;
            transition: var(--transition-slow);
            outline: none;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: textfield;
            -webkit-rtl-ordering: logical;
            -moz-rtl-ordering: logical;
            flex-grow: 1;

            &:hover {
              border-color: #c0c0c0;
            }

            &:focus {
              border-color: var(--color-main);
              box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
      }

      &:hover,
      &:focus-within {
        .image__description {
          opacity: 1;
          translate: 0 0;
        }
      }

      &.in-cart {
        .actions__change-quantity {
          display: flex;
        }

        .actions__add-to-cart {
          display: none;
        }
      }
    }
  }
}


.brand-marquee {
    margin-top: 10em;
}