.menu-button {
  @include cleanButton;
  font-size: var(--font-size-4);
  display: flex;
  background: none;

  &__title {
    background: var(--color-bg);
    padding: 0.75em;
    border-radius: 1.15em;
    color: var(--color-text);

    @media screen and (width < 420px) {
      display: none;
    }
  }

  &__icon {
    position: relative;
    background: var(--color-bg);
    padding: 0.75em;
    border-radius: 999px;
    color: var(--color-text);
    aspect-ratio: 1;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    translate: 0.3em;

    @media screen and (width < 420px) {
      translate: 0;
    }

    &::before {
      content: "";
      position: absolute;
      width: 70%;
      height: 70%;
      left: 15%;
      top: 15%;
      border-radius: 999px;
      background: var(--color-text);
      z-index: -1;
    }

    svg {
      width: 1em;
      height: 1em;
      color: var(--color-bg);
      stroke-width: 2px;
    }
  }
}

.fixed__menu-button {
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: var(--border-radius-big);
  padding: 0.5em;
  font-size: var(--font-size-4);

  .menu-button__wrapper {
    @include cleanButton;
    display: flex;

    .menu-button__title {
      background: var(--color-bg);
      padding: 0.75em;
      border-radius: 1.15em;
      color: var(--color-text);

      @media screen and (width < 420px) {
        display: none;
      }
    }

    .menu-button__icon {
      position: relative;
      background: var(--color-bg);
      padding: 0.75em;
      border-radius: 999px;
      color: var(--color-text);
      aspect-ratio: 1;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      translate: 0.3em;

      @media screen and (width < 420px) {
        translate: 0;
      }

      &::before {
        content: "";
        position: absolute;
        width: 70%;
        height: 70%;
        left: 15%;
        top: 15%;
        border-radius: 999px;
        background: var(--color-text);
        z-index: -1;
      }

      svg {
        width: 1em;
        height: 1em;
        color: var(--color-bg);
        stroke-width: 2px;
      }
    }
  }
}
