@import "../main/mixins";
//------COMPONENTS------

body {
  position: relative;
  display: flex;
  min-height: 100vh;
  overflow: hidden !important;
}

nav {
  @include blurBg;
  @include mainShadow;

  position: relative;
  width: 30rem;
  flex-shrink: 0;
  height: 100vh;
  background: var(--color-bg-element);
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 4em;
  z-index: 999;

  h1 {
    @include displayFont;

    font-size: var(--font-size-2);
    text-align: center;
  }

  ul {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    li {
      &:has(a) {
        margin-top: auto;
      }

      a {
        color: var(--color-main) !important;
      }

      label,
      a {
        display: flex;
        background: none;
        color: var(--color-text-semivisible);
        cursor: pointer;
        font-size: var(--font-size-3);
        width: 100%;
        text-align: left;
        padding: 1em 0.5em;
        border-radius: 0.5em;

        input {
          display: none;
        }

        &:hover,
        &:focus-within {
          background: var(--color-bg-element);
        }

        &:has(input:checked) {
          @include displayFont;

          color: var(--color-text);
          font-weight: 700;
          pointer-events: none;
        }
      }
    }
  }
}

main {
  position: relative;
  flex-grow: 1;
  height: 100vh;
  padding: 4em;
  overflow-y: scroll;

  section {
    display: none;
    flex-direction: column;
    gap: 4em;

    & > form {
      @include mainShadow;

      display: flex;
      flex-direction: column;
      gap: 1em;
      background: var(--color-bg-element);
      padding: 1.5em;
      border-radius: 0.5em;

      h2 {
        margin-bottom: 1em;
      }

      input {
        padding: 1em 2em;
        font-size: var(--font-size-5);
        border-radius: 0.5em;
        background: var(--color-bg-element);
        color: var(--color-text);
      }

      button {
        background: var(--color-main);
        padding: 1em 2em;
        border-radius: 0.5em;
        color: var(--color-text);
        margin-top: 2em;
      }

      select {
        padding: 1em 2em;
        font-size: var(--font-size-5);
        border-radius: 0.5em;
        background: var(--color-bg-element);
        color: var(--color-text);
        outline: transparent;
        border: none;

        option {
          color: var(--color-bg);
        }
      }

      label {
        display: flex;
        flex-direction: column;
        gap: 1em;

        img {
          @include image;

          width: 100%;
          height: 15em;
          border-radius: 0.25em;
        }

        input {
          text-align: center;
        }
      }
    }

    .list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2em;

      li {
        @include mainShadow;

        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2em;
        background: var(--color-bg-element);
        padding: 1.5em;
        border-radius: 0.5em;

        form {
          display: flex;
          flex-direction: column;
          gap: 1em;

          input {
            padding: 0.5em 1em;
            font-size: var(--font-size-5);
            border-radius: 0.5em;
            background: var(--color-bg-element);
            color: var(--color-text);
          }

          h3 {
            text-align: center;
          }

          select {
            padding: 0.5em 1em;
            font-size: var(--font-size-5);
            border-radius: 0.5em;
            background: var(--color-bg-element);
            color: var(--color-text);
            outline: transparent;
            border: none;

            option {
              color: var(--color-bg);
            }
          }

          label {
            display: flex;
            flex-direction: column;
            gap: 1em;
            position: relative;
            width: 100%;

            &:has(img) {
              padding-top: 15em;
            }

            img {
              @include image;

              width: 100%;
              height: 15em;
              border-radius: 0.25em;
              position: absolute;
              top: 0%;
              left: 0%;
            }

            input {
              text-align: center;
            }
          }
        }

        button {
          background: var(--color-main);
          padding: 0.5em 1em;
          border-radius: 0.5em;
          color: var(--color-text);

          &[delete-action] {
            background: var(--color-delete);
            color: var(--color-bg);
          }
        }
      }
    }
  }
}

:has([data-tab="users"] input:checked) main .users,
:has([data-tab="services"] input:checked) main .services,
:has([data-tab="orders"] input:checked) main .orders {
  display: flex;
}
