@import "../main/mixins";
//------COMPONENTS------
@import "../components/buy-service-modal";
@import "../components/edit-history-modal";
@import "../components/header";
@import "../components/search";

body {
  // overflow-x: hidden;
  display: flex;
  flex-direction: column;
  overflow-x: hidden !important;
}

.appear-animation {
  --animation-step: 1;

  transform: translateX(0);
  opacity: 0;
  animation: appear-animation 400ms ease-in-out forwards
    calc(var(--animation-step) * 0.2s + var(--animation-delay));
}

:has(.highlight-animation) .appear-animation {
  animation: none;
  opacity: 1;
  transform: none;
}

.highlight-animation {
  background: transparent;
  transition: var(--transition-slow) linear;
  animation: highlight-animation 1500ms linear forwards
    calc(var(--animation-delay) + 500ms) !important;
}

.main-nav {
  width: 100%;
  margin-block: 0.5em 4em;

  .main-nav__container {
    width: var(--width-main-content);
    margin-inline: auto;
    display: grid;
    place-items: center;

    .container__list {
      $button-inline-padding: 1.2em;
      $width: 45em;
      @include mainShadow;
      @include blurBg;

      display: flex;
      position: relative;
      background: var(--color-bg-element);
      padding: 0.75rem;
      border-radius: 99px;
      z-index: 1;
      width: $width;

      .list__el {
        flex: 1 1 100%;
        z-index: 2;

        .el__wrapper {
          @include displayFont;

          display: flex;
          align-items: center;
          justify-content: center;
          font-size: var(--font-size-5);
          color: var(--color-text);
          border-radius: 99px;
          cursor: pointer;
          transition: color var(--transition-main) ease-in;
          padding: $button-inline-padding 1em;
          letter-spacing: 0.8px;

          &:has(input:checked) {
            color: var(--color-main);
          }

          input {
            display: none;
          }

          .wrapper__title {
            letter-spacing: 3px;
          }
        }
      }

      &:has(.list__el:nth-of-type(1) input:checked) .list__glider {
        translate: 0;
      }
      &:has(.list__el:nth-of-type(2) input:checked) .list__glider {
        translate: calc(100%);
      }
      &:has(.list__el:nth-of-type(3) input:checked) .list__glider {
        translate: calc(200%);
      }

      .list__glider {
        letter-spacing: 0.8px;
        position: absolute;
        display: flex;
        top: 0.5em;
        left: 0.75rem;
        height: calc(100% - 1em);
        width: calc((100% - 0.75rem * 2) / 3);
        background: var(--color-text);
        z-index: 1;
        border-radius: 99px;
        transition: var(--transition-slow) ease-out;
      }
    }
  }
}

.main-content {
  --step: 1;
  --content-height: auto;

  flex-grow: 1;
  width: var(--width-main-content);
  margin-inline: auto;
  margin-top: 2em;
  min-height: 70vh;
  height: 70vh;
  transition: var(--transition-main);
  position: relative;
  overflow-y: clip;
  overflow-x: initial;
  padding-block: 2em;
  height: auto;
  height: calc(var(--content-height) + 4em);
  max-height: calc(var(--content-height) + 4em);

  &__tab-content {
    width: 100%;
    position: absolute;
    top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: var(--transition-slow) ease-in-out;

    &.tab-content_services {
      // left: 0;
      left: calc(0% - ((var(--step) - 1) * 200%));

      .tab-content__services {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2em;
        width: 100%;

        .services__el {
          --step: 0;

          aspect-ratio: 2 / 3;
          overflow: visible;

          & {
            .back__wrapper {
              background: var(--color-bg);
            }

            // .back__wrapper > span {
            //   box-shadow: -15px -15px 15px #ff6600, 15px -15px 15px #ff9100,
            //     15px 15px 15px #ff5500, -15px 15px 15px #ffa600,
            //     -15px 0 15px #ff6600, 15px 0 15px #ffcc00 !important;
            // }
          }

          &:hover,
          &:focus-within {
            .el__content {
              transform: rotateY(180deg);
            }
          }

          .el__content {
            @include mainShadow;

            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: transform 300ms;
            border-radius: 1em;

            .content__back,
            .content__front {
              @include blurBg;

              position: absolute;
              width: 100%;
              height: 100%;
              backface-visibility: hidden;
              -webkit-backface-visibility: hidden;
              border-radius: 1em;
              overflow: hidden;
            }

            .content__back {
              justify-content: center;
              display: flex;
              align-items: center;
              overflow: hidden;
              background: var(--color-bg);

              &::before {
                position: absolute;
                content: " ";
                display: block;
                width: 160px;
                top: -45%;
                height: 160%;
                background: linear-gradient(
                  90deg,
                  transparent,
                  var(--color-accent),
                  var(--color-main),
                  var(--color-secondary),
                  var(--color-accent),
                  transparent
                );
                animation: rotation_481 5000ms infinite linear
                  calc(var(--step) * 20ms);
              }

              .back__wrapper {
                @include blurBg;

                position: absolute;
                width: 99%;
                height: 99%;
                border-radius: 1em;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 8em;

                span {
                  opacity: 1;
                  background: transparent;
                  background: var(--color-bg);
                  // background: url('/bd_20_laba/assets/images/service.webp') no-repeat center center / cover;
                  width: 5em;
                  aspect-ratio: 1;
                  border-radius: 99px;
                  box-shadow: -15px -15px 15px var(--color-main),
                    15px -15px 15px var(--color-accent),
                    15px 15px 15px var(--color-main),
                    -15px 15px 15px var(--color-accent),
                    -15px 0 15px var(--color-secondary),
                    15px 0 15px var(--color-accent);
                  animation: collapse_animation 10s infinite
                    calc(20ms * var(--step));
                  transform: rotate(0) scale(0.8);
                }

                .group {
                  display: flex;
                  flex-direction: column;
                  gap: 0.25em;
                  align-items: center;

                  p {
                    @include displayFont;

                    color: var(--color-text-semivisible);
                    font-size: var(--font-size-4);
                    font-weight: 500;
                  }
                }

                h3 {
                  @include displayFont;

                  font-size: var(--font-size-2);
                  font-weight: 600;
                }
              }
            }

            .content__front {
              transform: rotateY(180deg);
              color: var(--color-text);
              background: var(--color-bg-modal-back);
              // background: var(--color-bg-element);

              .front__background {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -1;

                svg {
                  position: absolute;

                  &:nth-child(1) {
                    top: -7%;
                    left: 76%;
                    width: 20%;
                    opacity: 0.4;
                  }

                  &:nth-child(2) {
                    top: 66%;
                    left: 50%;
                    width: 50%;
                    opacity: 0.6;
                  }

                  &:nth-child(3) {
                    top: 27%;
                    left: -16%;
                    width: 60%;
                    opacity: 0.9;
                  }
                }
              }

              .front__wrapper {
                position: absolute;
                width: 100%;
                height: 100%;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 1.5em;
                gap: 1em;
                z-index: 1;

                .wrapper__img {
                  @include image;

                  position: absolute;
                  border-radius: 10em 10em 0.5em 0.5em;
                  display: none;
                  opacity: 0.75;
                  z-index: -1;
                  width: 90%;
                  height: 70%;
                  left: 5%;
                  top: 5%;
                }

                .wrapper__description {
                  @include blurBg;
                  @include mainShadow;

                  background: var(--color-bg-modal-back);
                  margin-top: auto;
                  display: flex;
                  flex-direction: column;
                  gap: 0.25em;
                  width: 100%;
                  // box-shadow: 0px 0px 10px 5px var(--color-text-semivisible),
                  //   0px 0.6em 1.2em rgba(74, 66, 184, 0.25),
                  //   0px 0px 0.1em rgba(74, 66, 184, 0.25);
                  padding: 1em;
                  border-radius: 0.55em;

                  .description__title {
                    @include displayFont;

                    font-size: var(--font-size-3);
                    font-weight: 600;
                  }

                  .description__footer {
                    color: var(--color-text-semivisible);
                  }

                  .description__action-btn {
                    // width: 100%;
                    position: relative;
                    margin-top: 3em;
                    background: var(--color-main);
                    padding: 1.2em 1em;
                    width: 70%;
                    border-radius: 99px;
                    font-size: var(--font-size-5);
                    color: var(--color-text);
                    font-weight: 700;
                    overflow: hidden;
                    margin-inline: auto;
                    transition: var(--transition-slow);
                    opacity: 0.85;

                    .action-btn__text {
                      position: relative;
                      height: 100%;

                      span {
                        transition: var(--transition-slow);
                        background: var(--color-main);

                        &.text__one {
                          position: relative;
                          top: 0;
                          left: -5%;
                        }

                        &.text__two {
                          left: 45%;
                          top: -200%;
                          translate: -50% -50%;
                          position: absolute;
                        }
                      }
                    }

                    .action-btn__icon {
                      position: absolute;
                      right: 0;
                      top: 0;
                      aspect-ratio: 1;
                      height: 100%;
                      width: auto;
                      background: var(--color-text);
                      border-radius: 99px;
                      display: grid;
                      place-items: center;
                      rotate: 0deg;
                      transition: rotate var(--transition-superslow) ease-out,
                        right var(--transition-slow);

                      svg {
                        width: 1em;
                        font-size: var(--font-size-4);
                        fill: var(--color-main);
                      }
                    }

                    &:hover,
                    &:focus-within {
                      width: 100%;
                      // padding: .9em 1em;
                      // margin-top: 3.6em;
                      opacity: 1;

                      .text__one {
                        left: 0% !important;
                        top: 200% !important;
                      }

                      .text__two {
                        left: 50% !important;
                        top: 50% !important;
                      }

                      .action-btn__icon {
                        right: -50%;
                        rotate: 360deg;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.tab-content_history {
      // left: 200%;
      left: calc(200% - ((var(--step) - 1) * 200%));

      .tab-content__history-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4em;

        .history-list__el {
          --step: 0;

          @include mainShadow;

          position: relative;
          width: 100%;
          border-radius: 1em;
          height: 25em;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;

          .el__background {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 0.5em;
            background: var(--color-bg-modal-back);
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            .background__circles {
              width: 100%;
              height: 100%;
              position: absolute;
              z-index: 1;

              &::after {
                @include blurBg;

                content: "";
                z-index: 2;
                position: absolute;
                inset: 0;
                // background: var(--color-bg-modal-back);
              }

              svg {
                position: absolute;
                z-index: 1;

                &:nth-child(1) {
                  top: -7%;
                  left: 76%;
                  width: 20%;
                  opacity: 0.4;
                }

                &:nth-child(2) {
                  top: 66%;
                  left: 50%;
                  width: 50%;
                  opacity: 0.6;
                }

                &:nth-child(3) {
                  top: 27%;
                  left: -16%;
                  width: 60%;
                  opacity: 0.9;
                }
              }
            }

            .background__images {
              position: relative;
              width: 90%;
              height: 65%;
              display: flex;
              gap: 2em;
              justify-content: space-between;
              z-index: 10;

              .images__el {
                flex: 1 1 100%;
                position: relative;

                img {
                  @include image;

                  position: absolute;
                  width: 100%;
                  height: 100%;
                  border-radius: 0.5em;
                }
              }
            }
          }

          .el__container {
            @include blurBg;
            @include mainShadow;

            position: relative;
            width: 60em;
            height: 80%;
            background: var(--color-bg-modal);
            z-index: 10;
            border-radius: 0.5em;
            padding: 2.5em;
            display: flex;
            flex-direction: column;
            gap: 2em;
            justify-content: space-between;

            .container__status {
              position: absolute;
              top: 0;
              right: 0;
              font-size: var(--font-size-3);
              width: 2em;
              height: auto;
              aspect-ratio: 1;
              background: var(--color-text);
              translate: 50% -50%;
              border-radius: 99px;
              display: grid;
              place-items: center;

              &.status_done {
                svg {
                  rotate: -11deg;
                }
              }

              svg {
                fill: var(--color-main);
                width: 1em;
              }
            }

            .container__header {
              display: flex;
              flex-direction: column;
              gap: 0.25em;

              .header__id {
                color: var(--color-accent);
                font-size: var(--font-size-5);
              }

              .header__title {
                @include displayFont;

                font-size: var(--font-size-1);
              }

              .header__bottom {
                color: var(--color-text-semivisible);
                font-size: var(--font-size-4);
                display: flex;
                align-items: center;
                gap: 1.5em;
              }
            }

            .container__botom {
              margin-top: auto;
              display: flex;
              align-items: center;
              gap: 2em;
              position: relative;

              .bottom__action-btn {
                // width: 100%;
                position: relative;
                background: var(--color-main);
                padding: 1.2em 1em;
                width: 20em;
                border-radius: 99px;
                font-size: var(--font-size-5);
                color: var(--color-text);
                font-weight: 700;
                overflow: hidden;
                transition: var(--transition-slow);
                opacity: 0.85;
                height: 100%;

                .action-btn__text {
                  position: relative;
                  height: 100%;

                  span {
                    transition: var(--transition-slow);
                    background: var(--color-main);

                    &.text__one {
                      position: relative;
                      top: 0;
                      left: -5%;
                    }

                    &.text__two {
                      left: 45%;
                      top: -200%;
                      translate: -50% -50%;
                      position: absolute;
                    }
                  }
                }

                .action-btn__icon {
                  position: absolute;
                  right: 0;
                  top: 0;
                  aspect-ratio: 1;
                  height: 100%;
                  width: auto;
                  background: var(--color-text);
                  border-radius: 99px;
                  display: grid;
                  place-items: center;
                  rotate: 0deg;
                  transition: rotate var(--transition-superslow) ease-out,
                    right var(--transition-slow);

                  svg {
                    width: 1em;
                    font-size: var(--font-size-4);
                    fill: var(--color-main);

                    &.arrow {
                      rotate: 45deg;
                    }
                  }
                }

                &:hover,
                &:focus-within {
                  width: 25em;
                  opacity: 1;

                  .text__one {
                    left: 0% !important;
                    top: 200% !important;
                  }

                  .text__two {
                    left: 50% !important;
                    top: 50% !important;
                  }

                  .action-btn__icon {
                    right: -50%;
                    rotate: 360deg;
                  }
                }
              }

              .bottom__price {
                display: flex;
                flex-direction: column;
                gap: 0.25em;

                .price__title {
                  color: var(--color-text-semivisible);
                  font-weight: 400;
                  font-size: var(--font-size-4);
                }

                .price__value {
                  color: var(--color-text);
                  font-weight: 900;
                  font-size: var(--font-size-2);
                }
              }
            }
          }
        }
      }
    }

    &.tab-content_settings {
      // left: 400%;
      left: calc(400% - ((var(--step) - 1) * 200%));

      .tab-content__form {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        width: 50rem;

        &[data-status="200"] .form__status.status_200,
        &[data-status="400"] .form__status.status_400 {
          transform: translateX(0%);
          opacity: 1;
          transition: var(--transition-slow) ease-in-out;
          z-index: 999;
        }

        .form__status {
          @include blurBg;

          transform: translateX(10%);
          opacity: 0;
          display: flex;
          width: 100%;
          padding: 1em 2em;
          border-radius: 1em;
          gap: 2em;
          background: var(--color-bg-element);
          position: absolute;
          top: calc(100% + 2em);
          left: 0;
          user-select: none;
          pointer-events: none;

          svg {
            width: 1em;
            font-size: var(--font-size-3);
            color: var(--color-text);
          }

          .status__description {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            justify-content: center;

            .description__title {
              @include displayFont;

              font-size: var(--font-size-5);
            }

            .description__message {
              font-size: var(--font-size-6);
              color: var(--color-text-semivisible);
            }

            .description__list {
              display: flex;
              flex-direction: column;
              gap: 0.5em;
              font-size: var(--font-size-6);
              padding-left: 2em;
              list-style: disc;
              color: var(--color-delete);

              li p {
                color: var(--color-delete);
                font-size: var(--font-size-6);
                opacity: 0.7;
              }
            }
          }

          &.status_error {
            svg {
              color: var(--color-delete);
            }
          }

          &.status_success {
            transition: var(--transition-slow) ease-in-out;

            svg {
              color: var(--color-success);
            }
          }
        }

        .form__group {
          width: 100%;
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 1em;

          &:has(.container__submit) {
            margin-top: auto;
            align-items: center;
          }
        }

        .form__row {
          width: 100%;
          position: relative;
          display: flex;
          gap: 1em;
        }

        .form__input {
          @include blurBg;

          width: 100%;
          display: flex;
          align-items: center;
          position: relative;
          background: var(--color-bg-element);
          border-radius: 1rem;
          padding: 1em;

          &:has(input:disabled) {
            opacity: 0.65;
          }

          svg {
            position: absolute;
            left: 1.5em;
            width: 1em;
            top: 50%;
            translate: -50% -50%;
            font-size: var(--font-size-4);
            color: var(--color-main);
            stroke-width: 1.8px;
            // fill: var(--color-main);
          }

          input {
            font-size: var(--font-size-5);
            padding-left: 3em;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            outline: none;
            transition: 0.5s ease;
            background: none;
            color: var(--color-text);

            &:disabled {
              color: var(--color-text-semivisible);
            }

            &::placeholder {
              color: var(--color-text-semivisible);
            }
          }
        }

        .form__submit {
          @include mainShadow;

          display: inline-flex;
          align-items: center;
          justify-content: center;
          gap: 1.25em;
          background: var(--color-main);
          color: var(--color-text);
          border-radius: 99px;
          font-weight: bold;
          padding: 0.75em 3.5em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: var(--font-size-5);
          letter-spacing: 2px;

          .submit__icon-container {
            flex-shrink: 0;
            width: 2em;
            height: 2em;
            position: relative;
            color: var(--color-main);
            background: var(--color-text);
            border-radius: 50%;
            display: grid;
            place-items: center;
            overflow: hidden;

            svg {
              &:nth-of-type(2) {
                position: absolute;
                transform: translate(-150%, 150%);
              }
            }
          }

          .submit__text {
          }

          &:hover,
          &:focus-within {
            background: var(--color-text);
            color: var(--color-main);

            .submit__icon-container {
              background: var(--color-main);
            }

            svg {
              &:nth-of-type(1):first-child {
                transition: transform 0.3s ease-in-out;
                transform: translate(150%, -150%);
                color: var(--color-text);
              }

              &:nth-of-type(2) {
                transition: transform 0.3s ease-in-out 0.1s;
                transform: translate(0);
                color: var(--color-text);
              }
            }
          }
        }

        .form__plain-btn {
          color: var(--color-text);
          text-decoration: underline;
          background: none;
          flex: 1 0 9em;
          text-align: center;
        }
      }
    }
  }

  &[data-tabs-state="services"] {
    --step: 1;
  }

  &[data-tabs-state="history"] {
    --step: 2;
  }

  &[data-tabs-state="settings"] {
    --step: 3;
  }
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

@keyframes collapse_animation {
  0% {
    transform: rotate(360deg) scale(0.8);
  }

  50% {
    transform: rotate(0) scale(1.2);
  }
}

@keyframes appear-animation {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes highlight-animation {
  0% {
    background: var(--color-text);
  }
  50% {
    background: transparent;
  }

  75% {
    background: var(--color-text);
  }

  100% {
    background: transparent;
  }
}
