@import "../main/mixins";
//------COMPONENTS------
@import "../components/banner";
@import "../components/hero-header";
@import "../components/brand-marquee";
@import "../components/history-banner";
@import "../components/news";
@import "../components/reviews-marquee";

body {
  display: flex;
  flex-direction: column;
  // overflow-x: hidden !important;
  min-height: 100svh;
}

.main-content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  &__section {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .section__title {
      @include oliverFont;

      font-size: var(--font-size-0);
    }

    .section__action-btn {
      @include yandexDisplayFont;

      font-size: var(--font-size-4);
      color: var(--color-text);
      background: var(--color-accent-transparent);
      border: 2px solid var(--color-secondary);
      border-radius: var(--border-radius-main);
      padding: 0.5em 8em;
      
      max-width: 100%;
    }

    &.section_news {}

    &.section_reviews {}

    &.section__history-banner {}
  }
}
