@font-face {
  font-family: "YandexSansDisplay";
  src: url("/bd_20_laba/assets/fonts/YandexSansDisplay-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YandexSansDisplay";
  src: url("/bd_20_laba/assets/fonts/YandexSansDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YandexSansText";
  src: url("/bd_20_laba/assets/fonts/YandexSansText-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YandexSansText";
  src: url("/bd_20_laba/assets/fonts/YandexSansText-Medium.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YandexSansText";
  src: url("/bd_20_laba/assets/fonts/YandexSansText-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
