@import "./normalize";
@import "./fonts";
@import "./defaults";
@import "./variables";
@import "./mixins";
// ------COMPONENTS------
@import "../components/logo";
@import "../components/footer";
@import "../components/loading-screen";
@import "../components/cart";

.appear-animation {
  --animation-step: 1;

  transform: translateX(0);
  opacity: 0;
  animation: appear-animation 400ms ease-in-out forwards
    calc(var(--animation-step) * 0.2s + var(--animation-delay));
}

:has(.highlight-animation) .appear-animation {
  animation: none;
  opacity: 1;
  transform: none;
}

.highlight-animation {
  background: transparent;
  transition: var(--transition-slow) linear;
  animation: highlight-animation 1500ms linear forwards
    calc(var(--animation-delay) + 500ms) !important;
}

@keyframes errorAnimation {
  0% {
    transform: translate(30px);
  }
  20% {
    transform: translate(-30px);
  }
  40% {
    transform: translate(15px);
  }
  60% {
    transform: translate(-15px);
  }
  80% {
    transform: translate(8px);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes appear-hor {
  0% {
    transform: translateX(-60%);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

@keyframes collapse_animation {
  0% {
    transform: rotate(360deg) scale(0.8);
  }

  50% {
    transform: rotate(0) scale(1.2);
  }
}

@keyframes appear-animation {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes highlight-animation {
  0% {
    background: var(--color-text);
  }
  50% {
    background: transparent;
  }

  75% {
    background: var(--color-text);
  }

  100% {
    background: transparent;
  }
}