.catalog {
  width: var(--width-main-content);
  position: relative;
  margin-inline: auto;
  padding-inline: 2em;
}
.catalog__list {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 2em;
}
.catalog__list .list__item {
  position: relative;
}
.catalog__list .list__item .item__image {
  position: relative;
  border: 2px solid var(--color-text-semivisible);
  z-index: 1;
  overflow: hidden;
}
.catalog__list .list__item .item__image .image__description {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(167, 168, 168, 0.253141) 22.4%, rgba(6, 7, 7, 0.72) 78.9%);
  display: flex;
  align-items: flex-end;
  padding: 1.5em;
  transition: var(--transition-slow);
  opacity: 0;
  translate: 0 1em;
}
.catalog__list .list__item .item__image .image__description .description__text {
  color: var(--color-bg);
  margin-bottom: 2em;
  line-height: 1.35;
}
.catalog__list .list__item .item__image .image__src {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  color: var(--color-text);
  display: grid;
  place-content: center;
  transition: var(--transition-main);
  width: 100%;
  height: 32.5em;
  z-index: -1;
}
.catalog__list .list__item .item__info {
  margin-top: 1em;
  display: flex;
  align-items: center;
  gap: 1.5em;
  justify-content: space-between;
}
.catalog__list .list__item .item__info .info__left {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.catalog__list .list__item .item__info .info__left .left__category {
  opacity: 0.5;
  font-size: var(--font-size-5);
  font-weight: 100;
}
.catalog__list .list__item .item__info .info__left .left__name {
  font-size: var(--font-size-4);
  color: var(--color-main);
  font-weight: normal;
}
.catalog__list .list__item .item__info .info__right .right__price {
  font-size: var(--font-size-4);
  white-space: nowrap;
}
.catalog__list .list__item .item__actions {
  margin-top: 1em;
  display: flex;
  align-items: center;
}
.catalog__list .list__item .item__actions .actions__add-to-cart {
  position: relative;
  border-radius: 0.5em;
  z-index: 1;
  font-family: "YandexSansDisplay", sans-serif;
  font-size: var(--font-size-5);
  color: var(--color-bg);
  background: var(--color-main);
  padding: 1em 2.5em;
  text-align: center;
  width: 100%;
}
.catalog__list .list__item .item__actions .actions__add-to-cart:before {
  content: "";
  position: absolute;
  inset: 0;
  transition: var(--transition-main);
  background: inherit;
  border-radius: 0.5em;
  z-index: -1;
}
.catalog__list .list__item .item__actions .actions__add-to-cart:hover:before, .catalog__list .list__item .item__actions .actions__add-to-cart:focus-within:focus-visible:before {
  filter: brightness(0.8);
}
.catalog__list .list__item .item__actions .actions__change-quantity {
  display: none;
  align-items: stretch;
  justify-content: space-between;
  gap: 0.5em;
  width: 100%;
}
.catalog__list .list__item .item__actions .actions__change-quantity .change-quantity__action-btn {
  position: relative;
  border-radius: 0.5em;
  z-index: 1;
  font-family: "YandexSansDisplay", sans-serif;
  font-size: var(--font-size-5);
  color: var(--color-bg);
  background: var(--color-main);
  padding: 1em 1em;
  text-align: center;
  flex: 0 0 3em;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
}
.catalog__list .list__item .item__actions .actions__change-quantity .change-quantity__action-btn:before {
  content: "";
  position: absolute;
  inset: 0;
  transition: var(--transition-main);
  background: inherit;
  border-radius: 0.5em;
  z-index: -1;
}
.catalog__list .list__item .item__actions .actions__change-quantity .change-quantity__action-btn:hover:before, .catalog__list .list__item .item__actions .actions__change-quantity .change-quantity__action-btn:focus-within:focus-visible:before {
  filter: brightness(0.8);
}
.catalog__list .list__item .item__actions .actions__change-quantity .change-quantity__action-btn .action-btn__default {
  display: initial;
}
.catalog__list .list__item .item__actions .actions__change-quantity .change-quantity__action-btn .action-btn__secondary {
  display: none;
}
.catalog__list .list__item .item__actions .actions__change-quantity .change-quantity__action-btn.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.catalog__list .list__item .item__actions .actions__change-quantity .change-quantity__action-btn.remove .action-btn__secondary {
  display: initial;
}
.catalog__list .list__item .item__actions .actions__change-quantity .change-quantity__action-btn.remove .action-btn__default {
  display: none;
}
.catalog__list .list__item .item__actions .actions__change-quantity .change-quantity__input {
  font-family: "YandexSansDisplay", sans-serif;
  font-size: var(--font-size-5);
  color: var(--color-text);
  background: var(--color-text-light);
  padding: 0.75em 1em;
  text-align: center;
  width: 100%;
  flex: 1;
  border: 1px solid #e0e0e0;
  border-radius: 0.5em;
  transition: var(--transition-slow);
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  -webkit-rtl-ordering: logical;
  -moz-rtl-ordering: logical;
  flex-grow: 1;
}
.catalog__list .list__item .item__actions .actions__change-quantity .change-quantity__input:hover {
  border-color: #c0c0c0;
}
.catalog__list .list__item .item__actions .actions__change-quantity .change-quantity__input:focus {
  border-color: var(--color-main);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
}
.catalog__list .list__item .item__actions .actions__change-quantity .change-quantity__input::-webkit-outer-spin-button, .catalog__list .list__item .item__actions .actions__change-quantity .change-quantity__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.catalog__list .list__item:hover .image__description, .catalog__list .list__item:focus-within .image__description {
  opacity: 1;
  translate: 0 0;
}
.catalog__list .list__item.in-cart .actions__change-quantity {
  display: flex;
}
.catalog__list .list__item.in-cart .actions__add-to-cart {
  display: none;
}

.brand-marquee {
  margin-top: 10em;
}

.banner {
  display: flex;
  align-items: center;
  background: var(--color-text);
  color: var(--color-bg);
  height: 3.5em;
  position: relative;
  width: 100%;
  padding-inline: 2em;
  overflow: hidden;
}
@media screen and (width < 760px) {
  .banner {
    height: 5em;
  }
}
.banner__logo {
  flex-shrink: 0;
}
.banner__logo .logo {
  width: 1em;
  font-size: var(--font-size-0);
  fill: var(--color-bg);
}
@media screen and (width < 900px) {
  .banner__logo .logo {
    display: none;
  }
}
.banner .banner__bg {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.banner .banner__bg .bg-part-2 {
  position: absolute;
  left: 50%;
  top: 0%;
  translate: -50% 0%;
  animation: rotate-animation 20s linear infinite;
}
.banner__content {
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  overflow: hidden;
  flex-grow: 1;
  height: 100%;
  position: relative;
}
.banner__content .content__scene {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  transition: var(--transition-superslow);
  justify-content: center;
  gap: 1.5em;
  opacity: 0;
  bottom: 100%;
  height: 100%;
}
.banner__content .content__scene .scene__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  color: var(--color-text);
  display: grid;
  place-content: center;
  transition: var(--transition-main);
  width: 7em;
  height: 3.5em;
  flex-shrink: 0;
  -o-object-position: center 20%;
     object-position: center 20%;
  animation: scale-animation 5s infinite alternate;
}
@media screen and (width < 760px) {
  .banner__content .content__scene .scene__image {
    display: none;
  }
}
.banner__content .content__scene .scene__phone {
  position: absolute;
  top: 50%;
  right: 0%;
  translate: 0 -50%;
  white-space: nowrap;
}
.banner__content .content__scene .scene__phone:hover, .banner__content .content__scene .scene__phone:focus {
  transform: scale(1.05);
}
@media screen and (width < 760px) {
  .banner__content .content__scene .scene__phone {
    position: relative;
    top: auto;
    right: auto;
    translate: 0 0;
  }
}
.banner__content .content__scene .scene__button {
  position: relative;
  border-radius: var(--border-radius-small);
  z-index: 1;
  font-size: var(--font-size-5);
  color: var(--color-bg);
  background: var(--color-accent-transparent);
  border: 2px solid var(--color-secondary);
  padding: 0.25em 3em;
  text-align: center;
  border-radius: var(--border-radius-main);
}
.banner__content .content__scene .scene__button:before {
  content: "";
  position: absolute;
  inset: 0;
  transition: var(--transition-main);
  background: inherit;
  border-radius: var(--border-radius-small);
  z-index: -1;
}
.banner__content .content__scene .scene__button:hover:before, .banner__content .content__scene .scene__button:focus-within:focus-visible:before {
  filter: brightness(0.8);
}
.banner__content .content__scene .scene__button:hover, .banner__content .content__scene .scene__button:focus {
  transform: scale(1.05);
}
@media screen and (width < 760px) {
  .banner__content .content__scene .scene__button {
    padding: 0.75em 3em;
  }
}
.banner[data-scene="1"] .scene_1, .banner[data-scene="2"] .scene_2, .banner[data-scene="3"] .scene_3 {
  opacity: 1;
  bottom: 0%;
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all;
  pointer-events: all;
}
.banner[data-scene="2"] {
  background: var(--color-main);
}

@keyframes scale-animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.basket-link {
  font-size: var(--font-size-4);
  display: flex;
}
.basket-link__title {
  background: var(--color-bg);
  padding: 0.75em;
  border-radius: 1.15em;
  color: var(--color-text);
}
@media screen and (width < 420px) {
  .basket-link__title {
    display: none;
  }
}
.basket-link__icon {
  position: relative;
  background: var(--color-bg);
  padding: 0.75em;
  border-radius: 999px;
  color: var(--color-text);
  aspect-ratio: 1;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  translate: -0.3em;
}
@media screen and (width < 420px) {
  .basket-link__icon {
    translate: 0;
  }
}
.basket-link__icon::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  left: 15%;
  top: 15%;
  border-radius: 999px;
  background: var(--color-text);
  z-index: -1;
}
.basket-link__icon svg {
  width: 1em;
  color: var(--color-bg);
  stroke-width: 2px;
}

.main-header {
  position: relative;
  background-color: var(--color-bg);
  width: 100%;
  height: 18rem;
  z-index: 1;
  overflow: hidden;
  border-bottom: 1px solid var(--color-text-semivisible);
  display: flex;
  align-items: center;
}
.main-header__bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}
.main-header__bg > * {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  width: 40vw;
  min-width: 600px;
}
.main-header__bg .bg-part-1 {
  position: absolute;
  left: 0;
  top: 0;
  translate: -25% -25%;
}
.main-header__bg .bg-part-2 {
  position: absolute;
  left: 40%;
  bottom: 0;
  translate: -50% 60%;
}
.main-header__bg .bg-part-3 {
  position: absolute;
  right: 0;
  top: 15%;
  translate: 50% -25%;
}
.main-header__top-section {
  padding: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4em;
}
.main-header__top-section .top-section__nav .nav__list {
  display: flex;
  align-items: center;
  gap: 2em;
}
.main-header__top-section .top-section__nav .nav__list .list__item .item__link {
  font-family: "OliverOblique", sans-serif;
  font-size: var(--font-size-1);
  color: var(--color-text);
}
.main-header__main-section {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.main-header__main-section .main-section__logo .logo {
  width: 1em;
  font-size: 22rem;
  translate: 10%;
}

.brand-marquee {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-x: hidden;
}
.brand-marquee__container .container__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  margin-left: 2rem;
  transition: var(--transition-main);
}
.brand-marquee__container .container__list .list__el {
  font-family: "OliverOblique", sans-serif;
  padding: 1.25em 1em;
  flex-shrink: 0;
  font-size: var(--font-size-2);
  opacity: 0.2;
}
.brand-marquee__container .container__list .list__el .logo {
  font-size: var(--font-size-2);
  width: 2em;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.main-content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.main-content__section {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
.main-content__section .section__title {
  font-family: "OliverOblique", sans-serif;
  font-size: var(--font-size-extra-big);
  text-transform: uppercase;
  color: var(--color-secondary);
  letter-spacing: 5px;
}
.main-content__section .section__action-btn {
  position: relative;
  border-radius: var(--border-radius-main);
  z-index: 1;
  font-family: "YandexSansDisplay", sans-serif;
  font-size: var(--font-size-4);
  color: var(--color-text);
  background: var(--color-accent-transparent);
  border: 2px solid var(--color-secondary);
  padding: 0.5em 8em;
  text-align: center;
  width: 40em;
  max-width: 100%;
  margin-top: 2em;
}
.main-content__section .section__action-btn:before {
  content: "";
  position: absolute;
  inset: 0;
  transition: var(--transition-main);
  background: inherit;
  border-radius: var(--border-radius-main);
  z-index: -1;
}
.main-content__section .section__action-btn:hover:before, .main-content__section .section__action-btn:focus-within:focus-visible:before {
  filter: brightness(0.8);
}
.main-content__section.section_catalog {
  margin-top: 2em;
}