.basket-link {
  font-size: var(--font-size-4);
  display: flex;
}
.basket-link__title {
  background: var(--color-bg);
  padding: 0.75em;
  border-radius: 1.15em;
  color: var(--color-text);
}
.basket-link__icon {
  position: relative;
  background: var(--color-bg);
  padding: 0.75em;
  border-radius: 999px;
  color: var(--color-text);
  aspect-ratio: 1;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  translate: -0.3em;
}
.basket-link__icon::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  left: 15%;
  top: 15%;
  border-radius: 999px;
  background: var(--color-text);
  z-index: -1;
}
.basket-link__icon svg {
  width: 1em;
  color: var(--color-bg);
  stroke-width: 2px;
}

.hero-header {
  position: relative;
  background-color: var(--color-bg);
  width: 100%;
  height: 100svh;
  z-index: 1;
  overflow: hidden;
  border-bottom: 1px solid var(--color-text-semivisible);
}
.hero-header__bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}
.hero-header__bg > * {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  width: 40vw;
  min-width: 600px;
}
.hero-header__bg .bg-part-1 {
  position: absolute;
  left: 0;
  top: 0;
  translate: -25% -25%;
}
.hero-header__bg .bg-part-2 {
  position: absolute;
  left: 40%;
  bottom: 0;
  translate: -50% 60%;
}
.hero-header__bg .bg-part-3 {
  position: absolute;
  right: 0;
  top: 15%;
  translate: 50% -25%;
}
.hero-header__top-section {
  padding: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4em;
}
.hero-header__top-section .top-section__nav .nav__list {
  display: flex;
  align-items: center;
  gap: 2em;
}
.hero-header__top-section .top-section__nav .nav__list .list__item .item__link {
  font-family: "OliverOblique", sans-serif;
  font-size: var(--font-size-1);
  color: var(--color-text);
}
.hero-header__main-section {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.hero-header__main-section .main-section__logo .logo {
  width: 1em;
  font-size: 70rem;
  translate: 10%;
}

.history-banner {
  position: relative;
  width: 100%;
  background: var(--color-main);
  z-index: 1;
  overflow: hidden;
}
.history-banner__bg {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
.history-banner__bg .bg-part-3 {
  width: 40em;
  position: absolute;
  top: -20%;
  right: 6%;
}
.history-banner__bg .bg__man {
  width: 40em;
  position: absolute;
  top: -13%;
  right: 5%;
  transform: rotateY(180deg);
}
.history-banner__text {
  font-family: "YandexSansDisplay", sans-serif;
  font-size: var(--font-size-3);
  font-weight: 300;
  max-width: 40em;
  line-height: 1.55;
  letter-spacing: 1.35px;
  padding: 3em;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.main-content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.main-content__section {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
.main-content__section .section__title {
  font-family: "OliverOblique", sans-serif;
  font-size: var(--font-size-extra-big);
  text-transform: uppercase;
  color: var(--color-secondary);
}
.main-content__section .section__action-btn {
  font-family: "YandexSansDisplay", sans-serif;
  font-size: var(--font-size-4);
  color: var(--color-text);
  background: var(--color-accent-transparent);
  border: 2px solid var(--color-secondary);
  border-radius: var(--border-radius-main);
  padding: 0.5em 8em;
  text-align: center;
  width: 40em;
  max-width: 100%;
  margin-top: 2em;
}
.main-content__section.section__history-banner {
  border-top: 2px solid var(--color-text-semivisible);
}
.main-content__section.section_reviews {
  margin-top: 5em;
}
.main-content__section.section_news {
  margin-top: 5em;
}