.buy-service-modal {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 0px 0.6em 1.2em rgba(74, 66, 184, 0.25), 0px 0px 0.1em rgba(74, 66, 184, 0.25);
  background: var(--color-bg-modal);
  border-radius: 0.5em;
  width: min(40em, 95vw);
  height: min(47.5em, 95vh);
  padding: 2em;
  border-radius: 0.5em;
  border: none;
  overflow: hidden;
}
.buy-service-modal::backdrop {
  background: var(--color-bg-modal-back);
}
.buy-service-modal__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  height: 100%;
  transition: var(--transition-slow) ease-in-out;
}
.buy-service-modal__container .container__close {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-size: var(--font-size-5);
  color: var(--color-text-semivisible);
  align-self: flex-end;
}
.buy-service-modal__container .container__close svg {
  width: 1em;
}
.buy-service-modal__container .container__service-card {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 0px 0.6em 1.2em rgba(74, 66, 184, 0.25), 0px 0px 0.1em rgba(74, 66, 184, 0.25);
  background: var(--color-bg-modal-back);
  display: flex;
  position: relative;
  align-items: stretch;
  gap: 1em;
  height: 10em;
  border-radius: 0.5em;
  padding: 1em;
  overflow: hidden;
}
.buy-service-modal__container .container__service-card::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 40%;
  opacity: 1;
  background: transparent;
  background: var(--color-bg);
  width: 5em;
  aspect-ratio: 1;
  border-radius: 99px;
  box-shadow: -15px -15px 15px var(--color-main), 15px -15px 15px var(--color-accent), 15px 15px 15px var(--color-main), -15px 15px 15px var(--color-accent), -15px 0 15px var(--color-secondary), 15px 0 15px var(--color-accent);
  animation: collapse_animation 10s infinite;
  transform: rotate(0) scale(0.8);
}
.buy-service-modal__container .container__service-card .service-card__img {
  flex: 1 1 35%;
  height: 100%;
  position: relative;
}
.buy-service-modal__container .container__service-card .service-card__img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  color: var(--color-text);
  display: grid;
  place-content: center;
  transition: var(--transition-main);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}
.buy-service-modal__container .container__service-card .service-card__description {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  flex: 1 1 65%;
  height: 100%;
  background: var(--color-bg-modal-back);
  padding: 1em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.buy-service-modal__container .container__service-card .service-card__description .description__title {
  font-family: "YandexSansDisplay", sans-serif;
  font-size: var(--font-size-3);
  color: var(--color-text);
  font-weight: 700;
}
.buy-service-modal__container .container__service-card .service-card__description .description__about {
  font-size: var(--font-size-5);
  color: var(--color-text-semivisible);
}
.buy-service-modal__container .container__service-card .service-card__description .description__price {
  font-family: "YandexSansDisplay", sans-serif;
  font-size: var(--font-size-4);
  color: var(--color-text);
  font-weight: 700;
  margin-top: auto;
}
.buy-service-modal__container .container__tabs {
  margin-inline: auto;
  margin-block: 1em;
}
.buy-service-modal__container .container__tabs .tabs__list {
  box-shadow: 0px 0.6em 1.2em rgba(74, 66, 184, 0.25), 0px 0px 0.1em rgba(74, 66, 184, 0.25);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  display: flex;
  position: relative;
  background: var(--color-bg-element);
  padding: 0.75rem;
  border-radius: 99px;
  z-index: 1;
  width: 25em;
}
.buy-service-modal__container .container__tabs .tabs__list .list__el {
  flex: 1 1 100%;
  z-index: 2;
}
.buy-service-modal__container .container__tabs .tabs__list .list__el .el__wrapper {
  font-family: "YandexSansDisplay", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-5);
  color: var(--color-text);
  border-radius: 99px;
  cursor: pointer;
  transition: color var(--transition-main) ease-in;
  padding: 1.2em 1em;
  letter-spacing: 0.8px;
}
.buy-service-modal__container .container__tabs .tabs__list .list__el .el__wrapper:has(input:checked) {
  color: var(--color-main);
}
.buy-service-modal__container .container__tabs .tabs__list .list__el .el__wrapper input {
  display: none;
}
.buy-service-modal__container .container__tabs .tabs__list .list__el .el__wrapper .wrapper__title {
  letter-spacing: 3px;
}
.buy-service-modal__container .container__tabs .tabs__list:has(.list__el:nth-of-type(1) input:checked) .list__glider {
  translate: 0;
}
.buy-service-modal__container .container__tabs .tabs__list:has(.list__el:nth-of-type(2) input:checked) .list__glider {
  translate: 100%;
}
.buy-service-modal__container .container__tabs .tabs__list .list__glider {
  position: absolute;
  display: flex;
  top: 0.5em;
  left: 0.6em;
  height: calc(100% - 1em);
  width: calc((100% - 1.5rem) / 2);
  background: var(--color-text);
  z-index: 1;
  border-radius: 99px;
  transition: var(--transition-slow) ease-out;
}
.buy-service-modal__container .container__tabs-content {
  --step: 1;
  position: relative;
  width: 100%;
  flex-grow: 1;
}
.buy-service-modal__container .container__tabs-content .tabs-content__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  height: 100%;
  position: absolute;
  top: 0;
  transition: var(--transition-slow) ease-in-out;
}
.buy-service-modal__container .container__tabs-content .tabs-content__container[data-status="400"] .container__status.status_400 {
  transform: translateX(0%);
  opacity: 1;
  transition: var(--transition-slow) ease-in-out;
  z-index: 999;
}
.buy-service-modal__container .container__tabs-content .tabs-content__container.container_byphone {
  left: calc(0% - (var(--step) - 1) * 200%);
}
.buy-service-modal__container .container__tabs-content .tabs-content__container.container_onsite {
  left: calc(200% - (var(--step) - 1) * 200%);
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__status {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  transform: translateX(10%);
  opacity: 0;
  display: flex;
  width: 100%;
  padding: 1em 2em;
  border-radius: 1em;
  gap: 2em;
  background: var(--color-bg-element);
  position: absolute;
  top: -100%;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__status svg {
  width: 1em;
  font-size: var(--font-size-3);
  color: var(--color-text);
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__status .status__description {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__status .status__description .description__title {
  font-family: "YandexSansDisplay", sans-serif;
  font-size: var(--font-size-5);
  color: var(--color-text);
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__status .status__description .description__message {
  font-size: var(--font-size-6);
  color: var(--color-text-semivisible);
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__status .status__description .description__list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: var(--font-size-6);
  padding-left: 2em;
  list-style: disc;
  color: var(--color-delete);
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__status .status__description .description__list li p {
  color: var(--color-delete);
  font-size: var(--font-size-6);
  opacity: 0.7;
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__status.status_error svg {
  color: var(--color-delete);
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__status.status_success {
  transition: var(--transition-slow) ease-in-out;
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__status.status_success svg {
  color: var(--color-success);
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__message {
  text-align: center;
  color: var(--color-text);
  font-size: var(--font-size-5);
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__group:has(.container__submit) {
  margin-top: auto;
  align-items: center;
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__row {
  width: 100%;
  position: relative;
  display: flex;
  gap: 1em;
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__input {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background: var(--color-bg-element);
  border-radius: 1rem;
  padding: 1em;
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__input svg {
  position: absolute;
  left: 1.5em;
  width: 1em;
  top: 50%;
  translate: -50% -50%;
  font-size: var(--font-size-4);
  color: var(--color-main);
  stroke-width: 1.8px;
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__input input {
  font-size: var(--font-size-5);
  padding-left: 3em;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  outline: none;
  transition: 0.5s ease;
  background: none;
  color: var(--color-text);
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__input input::-moz-placeholder {
  color: var(--color-text-semivisible);
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__input input::placeholder {
  color: var(--color-text-semivisible);
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__submit {
  box-shadow: 0px 0.6em 1.2em rgba(74, 66, 184, 0.25), 0px 0px 0.1em rgba(74, 66, 184, 0.25);
  display: inline-flex;
  align-items: center;
  gap: 1.25em;
  background: var(--color-main);
  color: var(--color-text);
  border-radius: 99px;
  font-weight: bold;
  padding: 0.75em 3.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-size-5);
  letter-spacing: 2px;
  margin-top: auto;
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__submit .submit__icon-container {
  flex-shrink: 0;
  width: 2em;
  height: 2em;
  position: relative;
  color: var(--color-main);
  background: var(--color-text);
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__submit .submit__icon-container svg:nth-of-type(2) {
  position: absolute;
  transform: translate(-150%, 150%);
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__submit:hover, .buy-service-modal__container .container__tabs-content .tabs-content__container .container__submit:focus-within {
  background: var(--color-text);
  color: var(--color-main);
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__submit:hover .submit__icon-container, .buy-service-modal__container .container__tabs-content .tabs-content__container .container__submit:focus-within .submit__icon-container {
  background: var(--color-main);
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__submit:hover svg:nth-of-type(1):first-child, .buy-service-modal__container .container__tabs-content .tabs-content__container .container__submit:focus-within svg:nth-of-type(1):first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
  color: var(--color-text);
}
.buy-service-modal__container .container__tabs-content .tabs-content__container .container__submit:hover svg:nth-of-type(2), .buy-service-modal__container .container__tabs-content .tabs-content__container .container__submit:focus-within svg:nth-of-type(2) {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
  color: var(--color-text);
}
.buy-service-modal__container .container__tabs-content[data-tabs-state=by_phone] {
  --step: 1;
}
.buy-service-modal__container .container__tabs-content[data-tabs-state=on_site] {
  --step: 2;
}

@keyframes collapse_animation {
  0% {
    transform: rotate(360deg) scale(0.8);
  }
  50% {
    transform: rotate(0) scale(1.2);
  }
}
.edit-history-modal {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 0px 0.6em 1.2em rgba(74, 66, 184, 0.25), 0px 0px 0.1em rgba(74, 66, 184, 0.25);
  background: var(--color-bg-modal);
  border-radius: 0.5em;
  width: min(40em, 95vw);
  height: min(47.5em, 95vh);
  padding: 2em;
  border-radius: 0.5em;
  border: none;
}
.edit-history-modal::backdrop {
  background: var(--color-bg-modal-back);
}
.edit-history-modal__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.edit-history-modal__container .container__close {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-size: var(--font-size-5);
  color: var(--color-text-semivisible);
  align-self: flex-end;
}
.edit-history-modal__container .container__close svg {
  width: 1em;
}
.edit-history-modal__container .container__service-card {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 0px 0.6em 1.2em rgba(74, 66, 184, 0.25), 0px 0px 0.1em rgba(74, 66, 184, 0.25);
  background: var(--color-bg-modal-back);
  display: flex;
  position: relative;
  align-items: stretch;
  gap: 1em;
  height: 10em;
  border-radius: 0.5em;
  padding: 1em;
  overflow: hidden;
}
.edit-history-modal__container .container__service-card::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 40%;
  opacity: 1;
  background: transparent;
  background: var(--color-bg);
  width: 5em;
  aspect-ratio: 1;
  border-radius: 99px;
  box-shadow: -15px -15px 15px var(--color-main), 15px -15px 15px var(--color-accent), 15px 15px 15px var(--color-main), -15px 15px 15px var(--color-accent), -15px 0 15px var(--color-secondary), 15px 0 15px var(--color-accent);
  animation: collapse_animation 10s infinite;
  transform: rotate(0) scale(0.8);
}
.edit-history-modal__container .container__service-card .service-card__img {
  flex: 1 1 35%;
  height: 100%;
  position: relative;
}
.edit-history-modal__container .container__service-card .service-card__img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  color: var(--color-text);
  display: grid;
  place-content: center;
  transition: var(--transition-main);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}
.edit-history-modal__container .container__service-card .service-card__description {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  flex: 1 1 65%;
  height: 100%;
  background: var(--color-bg-modal-back);
  padding: 1em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.edit-history-modal__container .container__service-card .service-card__description .description__title {
  font-family: "YandexSansDisplay", sans-serif;
  font-size: var(--font-size-3);
  color: var(--color-text);
  font-weight: 700;
}
.edit-history-modal__container .container__service-card .service-card__description .description__about {
  font-size: var(--font-size-5);
  color: var(--color-text-semivisible);
}
.edit-history-modal__container .container__service-card .service-card__description .description__price {
  font-family: "YandexSansDisplay", sans-serif;
  font-size: var(--font-size-4);
  color: var(--color-text);
  font-weight: 700;
  margin-top: auto;
}
.edit-history-modal__container .container__form {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  flex-grow: 1;
}
.edit-history-modal__container .container__form[data-status="400"] .container__status.status_400 {
  transform: translateX(0%);
  opacity: 1;
  transition: var(--transition-slow) ease-in-out;
  z-index: 999;
}
.edit-history-modal__container .container__form .container__status {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  transform: translateX(10%);
  opacity: 0;
  display: flex;
  width: 100%;
  padding: 1em 2em;
  border-radius: 1em;
  gap: 2em;
  background: var(--color-bg-element);
  position: absolute;
  bottom: calc(100% + 5em);
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.edit-history-modal__container .container__form .container__status svg {
  width: 1em;
  font-size: var(--font-size-3);
  color: var(--color-text);
}
.edit-history-modal__container .container__form .container__status .status__description {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
}
.edit-history-modal__container .container__form .container__status .status__description .description__title {
  font-family: "YandexSansDisplay", sans-serif;
  font-size: var(--font-size-5);
  color: var(--color-text);
}
.edit-history-modal__container .container__form .container__status .status__description .description__message {
  font-size: var(--font-size-6);
  color: var(--color-text-semivisible);
}
.edit-history-modal__container .container__form .container__status .status__description .description__list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: var(--font-size-6);
  padding-left: 2em;
  list-style: disc;
  color: var(--color-delete);
}
.edit-history-modal__container .container__form .container__status .status__description .description__list li p {
  color: var(--color-delete);
  font-size: var(--font-size-6);
  opacity: 0.7;
}
.edit-history-modal__container .container__form .container__status.status_error svg {
  color: var(--color-delete);
}
.edit-history-modal__container .container__form .container__status.status_success {
  transition: var(--transition-slow) ease-in-out;
}
.edit-history-modal__container .container__form .container__status.status_success svg {
  color: var(--color-success);
}
.edit-history-modal__container .container__form .container__message {
  text-align: center;
  color: var(--color-text);
  font-size: var(--font-size-5);
}
.edit-history-modal__container .container__form .container__group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.edit-history-modal__container .container__form .container__group:has(.container__submit) {
  margin-top: auto;
  align-items: center;
}
.edit-history-modal__container .container__form .container__row {
  width: 100%;
  position: relative;
  display: flex;
  gap: 1em;
}
.edit-history-modal__container .container__form .container__input {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background: var(--color-bg-element);
  border-radius: 1rem;
  padding: 1em;
}
.edit-history-modal__container .container__form .container__input svg {
  position: absolute;
  left: 1.5em;
  width: 1em;
  top: 50%;
  translate: -50% -50%;
  font-size: var(--font-size-4);
  color: var(--color-main);
  stroke-width: 1.8px;
}
.edit-history-modal__container .container__form .container__input input {
  font-size: var(--font-size-5);
  padding-left: 3em;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  outline: none;
  transition: 0.5s ease;
  background: none;
  color: var(--color-text);
}
.edit-history-modal__container .container__form .container__input input::-moz-placeholder {
  color: var(--color-text-semivisible);
}
.edit-history-modal__container .container__form .container__input input::placeholder {
  color: var(--color-text-semivisible);
}
.edit-history-modal__container .container__form .container__submit {
  box-shadow: 0px 0.6em 1.2em rgba(74, 66, 184, 0.25), 0px 0px 0.1em rgba(74, 66, 184, 0.25);
  display: inline-flex;
  align-items: center;
  gap: 1.25em;
  background: var(--color-main);
  color: var(--color-text);
  border-radius: 99px;
  font-weight: bold;
  padding: 0.75em 3.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-size-5);
  letter-spacing: 2px;
}
.edit-history-modal__container .container__form .container__submit .submit__icon-container {
  flex-shrink: 0;
  width: 2em;
  height: 2em;
  position: relative;
  color: var(--color-main);
  background: var(--color-text);
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.edit-history-modal__container .container__form .container__submit .submit__icon-container svg:nth-of-type(2) {
  position: absolute;
  transform: translate(-150%, 150%);
}
.edit-history-modal__container .container__form .container__submit:hover, .edit-history-modal__container .container__form .container__submit:focus-within {
  background: var(--color-text);
  color: var(--color-main);
}
.edit-history-modal__container .container__form .container__submit:hover .submit__icon-container, .edit-history-modal__container .container__form .container__submit:focus-within .submit__icon-container {
  background: var(--color-main);
}
.edit-history-modal__container .container__form .container__submit:hover svg:nth-of-type(1):first-child, .edit-history-modal__container .container__form .container__submit:focus-within svg:nth-of-type(1):first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
  color: var(--color-text);
}
.edit-history-modal__container .container__form .container__submit:hover svg:nth-of-type(2), .edit-history-modal__container .container__form .container__submit:focus-within svg:nth-of-type(2) {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
  color: var(--color-text);
}

@keyframes collapse_animation {
  0% {
    transform: rotate(360deg) scale(0.8);
  }
  50% {
    transform: rotate(0) scale(1.2);
  }
}
.main-header {
  width: 100%;
  margin-block: 3em;
}
.main-header .main-header__container {
  position: relative;
  width: var(--width-main-content);
  margin-inline: auto;
  display: flex;
  justify-content: center;
}
.main-header .main-header__container .container__search {
  position: relative;
}
.main-header .main-header__container .container__search .search__logout {
  position: absolute;
  left: calc(100% + 2em);
  top: 50%;
  translate: 0 -50%;
  flex-shrink: 0;
  background: none;
  color: var(--color-text-semivisible);
  text-decoration: underline;
}

.search .search__wrapper {
  position: relative;
  font-size: var(--font-size-4);
  z-index: 1;
}
.search .search__wrapper .wrapper__icon {
  position: absolute;
  top: 50%;
  left: 2em;
  translate: -50% -45%;
  font-size: var(--font-size-3);
  z-index: 2;
}
.search .search__wrapper .wrapper__icon svg {
  fill: var(--color-main);
  width: 1em;
}
.search .search__wrapper .wrapper__input {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  font-family: "YandexSansDisplay", sans-serif;
  width: 80rem;
  padding: 1em 2em;
  background: var(--color-bg-element);
  border-radius: 99px;
  color: var(--color-text);
  padding-left: 4em;
}
.search .search__wrapper .wrapper__input::-moz-placeholder {
  color: var(--color-text);
  font-weight: 900;
}
.search .search__wrapper .wrapper__input::placeholder {
  color: var(--color-text);
  font-weight: 900;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden !important;
}

.appear-animation {
  --animation-step: 1;
  transform: translateX(0);
  opacity: 0;
  animation: appear-animation 400ms ease-in-out forwards calc(var(--animation-step) * 0.2s + var(--animation-delay));
}

:has(.highlight-animation) .appear-animation {
  animation: none;
  opacity: 1;
  transform: none;
}

.highlight-animation {
  background: transparent;
  transition: var(--transition-slow) linear;
  animation: highlight-animation 1500ms linear forwards calc(var(--animation-delay) + 500ms) !important;
}

.main-nav {
  width: 100%;
  margin-block: 0.5em 4em;
}
.main-nav .main-nav__container {
  width: var(--width-main-content);
  margin-inline: auto;
  display: grid;
  place-items: center;
}
.main-nav .main-nav__container .container__list {
  box-shadow: 0px 0.6em 1.2em rgba(74, 66, 184, 0.25), 0px 0px 0.1em rgba(74, 66, 184, 0.25);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  display: flex;
  position: relative;
  background: var(--color-bg-element);
  padding: 0.75rem;
  border-radius: 99px;
  z-index: 1;
  width: 45em;
}
.main-nav .main-nav__container .container__list .list__el {
  flex: 1 1 100%;
  z-index: 2;
}
.main-nav .main-nav__container .container__list .list__el .el__wrapper {
  font-family: "YandexSansDisplay", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-5);
  color: var(--color-text);
  border-radius: 99px;
  cursor: pointer;
  transition: color var(--transition-main) ease-in;
  padding: 1.2em 1em;
  letter-spacing: 0.8px;
}
.main-nav .main-nav__container .container__list .list__el .el__wrapper:has(input:checked) {
  color: var(--color-main);
}
.main-nav .main-nav__container .container__list .list__el .el__wrapper input {
  display: none;
}
.main-nav .main-nav__container .container__list .list__el .el__wrapper .wrapper__title {
  letter-spacing: 3px;
}
.main-nav .main-nav__container .container__list:has(.list__el:nth-of-type(1) input:checked) .list__glider {
  translate: 0;
}
.main-nav .main-nav__container .container__list:has(.list__el:nth-of-type(2) input:checked) .list__glider {
  translate: 100%;
}
.main-nav .main-nav__container .container__list:has(.list__el:nth-of-type(3) input:checked) .list__glider {
  translate: 200%;
}
.main-nav .main-nav__container .container__list .list__glider {
  letter-spacing: 0.8px;
  position: absolute;
  display: flex;
  top: 0.5em;
  left: 0.75rem;
  height: calc(100% - 1em);
  width: calc((100% - 1.5rem) / 3);
  background: var(--color-text);
  z-index: 1;
  border-radius: 99px;
  transition: var(--transition-slow) ease-out;
}

.main-content {
  --step: 1;
  --content-height: auto;
  flex-grow: 1;
  width: var(--width-main-content);
  margin-inline: auto;
  margin-top: 2em;
  min-height: 70vh;
  height: 70vh;
  transition: var(--transition-main);
  position: relative;
  overflow-y: clip;
  overflow-x: initial;
  padding-block: 2em;
  height: auto;
  height: calc(var(--content-height) + 4em);
  max-height: calc(var(--content-height) + 4em);
}
.main-content__tab-content {
  width: 100%;
  position: absolute;
  top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: var(--transition-slow) ease-in-out;
}
.main-content__tab-content.tab-content_services {
  left: calc(0% - (var(--step) - 1) * 200%);
}
.main-content__tab-content.tab-content_services .tab-content__services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  width: 100%;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el {
  --step: 0;
  aspect-ratio: 2/3;
  overflow: visible;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .back__wrapper {
  background: var(--color-bg);
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el:hover .el__content, .main-content__tab-content.tab-content_services .tab-content__services .services__el:focus-within .el__content {
  transform: rotateY(180deg);
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content {
  box-shadow: 0px 0.6em 1.2em rgba(74, 66, 184, 0.25), 0px 0px 0.1em rgba(74, 66, 184, 0.25);
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  border-radius: 1em;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__back,
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 1em;
  overflow: hidden;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__back {
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: var(--color-bg);
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__back::before {
  position: absolute;
  content: " ";
  display: block;
  width: 160px;
  top: -45%;
  height: 160%;
  background: linear-gradient(90deg, transparent, var(--color-accent), var(--color-main), var(--color-secondary), var(--color-accent), transparent);
  animation: rotation_481 5000ms infinite linear calc(var(--step) * 20ms);
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__back .back__wrapper {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  position: absolute;
  width: 99%;
  height: 99%;
  border-radius: 1em;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8em;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__back .back__wrapper span {
  opacity: 1;
  background: transparent;
  background: var(--color-bg);
  width: 5em;
  aspect-ratio: 1;
  border-radius: 99px;
  box-shadow: -15px -15px 15px var(--color-main), 15px -15px 15px var(--color-accent), 15px 15px 15px var(--color-main), -15px 15px 15px var(--color-accent), -15px 0 15px var(--color-secondary), 15px 0 15px var(--color-accent);
  animation: collapse_animation 10s infinite calc(20ms * var(--step));
  transform: rotate(0) scale(0.8);
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__back .back__wrapper .group {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  align-items: center;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__back .back__wrapper .group p {
  font-family: "YandexSansDisplay", sans-serif;
  color: var(--color-text-semivisible);
  font-size: var(--font-size-4);
  font-weight: 500;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__back .back__wrapper h3 {
  font-family: "YandexSansDisplay", sans-serif;
  font-size: var(--font-size-2);
  font-weight: 600;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front {
  transform: rotateY(180deg);
  color: var(--color-text);
  background: var(--color-bg-modal-back);
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__background svg {
  position: absolute;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__background svg:nth-child(1) {
  top: -7%;
  left: 76%;
  width: 20%;
  opacity: 0.4;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__background svg:nth-child(2) {
  top: 66%;
  left: 50%;
  width: 50%;
  opacity: 0.6;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__background svg:nth-child(3) {
  top: 27%;
  left: -16%;
  width: 60%;
  opacity: 0.9;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5em;
  gap: 1em;
  z-index: 1;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__wrapper .wrapper__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  color: var(--color-text);
  display: grid;
  place-content: center;
  transition: var(--transition-main);
  position: absolute;
  border-radius: 10em 10em 0.5em 0.5em;
  display: none;
  opacity: 0.75;
  z-index: -1;
  width: 90%;
  height: 70%;
  left: 5%;
  top: 5%;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__wrapper .wrapper__description {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 0px 0.6em 1.2em rgba(74, 66, 184, 0.25), 0px 0px 0.1em rgba(74, 66, 184, 0.25);
  background: var(--color-bg-modal-back);
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  width: 100%;
  padding: 1em;
  border-radius: 0.55em;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__wrapper .wrapper__description .description__title {
  font-family: "YandexSansDisplay", sans-serif;
  font-size: var(--font-size-3);
  font-weight: 600;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__wrapper .wrapper__description .description__footer {
  color: var(--color-text-semivisible);
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__wrapper .wrapper__description .description__action-btn {
  position: relative;
  margin-top: 3em;
  background: var(--color-main);
  padding: 1.2em 1em;
  width: 70%;
  border-radius: 99px;
  font-size: var(--font-size-5);
  color: var(--color-text);
  font-weight: 700;
  overflow: hidden;
  margin-inline: auto;
  transition: var(--transition-slow);
  opacity: 0.85;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__wrapper .wrapper__description .description__action-btn .action-btn__text {
  position: relative;
  height: 100%;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__wrapper .wrapper__description .description__action-btn .action-btn__text span {
  transition: var(--transition-slow);
  background: var(--color-main);
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__wrapper .wrapper__description .description__action-btn .action-btn__text span.text__one {
  position: relative;
  top: 0;
  left: -5%;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__wrapper .wrapper__description .description__action-btn .action-btn__text span.text__two {
  left: 45%;
  top: -200%;
  translate: -50% -50%;
  position: absolute;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__wrapper .wrapper__description .description__action-btn .action-btn__icon {
  position: absolute;
  right: 0;
  top: 0;
  aspect-ratio: 1;
  height: 100%;
  width: auto;
  background: var(--color-text);
  border-radius: 99px;
  display: grid;
  place-items: center;
  rotate: 0deg;
  transition: rotate var(--transition-superslow) ease-out, right var(--transition-slow);
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__wrapper .wrapper__description .description__action-btn .action-btn__icon svg {
  width: 1em;
  font-size: var(--font-size-4);
  fill: var(--color-main);
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__wrapper .wrapper__description .description__action-btn:hover, .main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__wrapper .wrapper__description .description__action-btn:focus-within {
  width: 100%;
  opacity: 1;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__wrapper .wrapper__description .description__action-btn:hover .text__one, .main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__wrapper .wrapper__description .description__action-btn:focus-within .text__one {
  left: 0% !important;
  top: 200% !important;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__wrapper .wrapper__description .description__action-btn:hover .text__two, .main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__wrapper .wrapper__description .description__action-btn:focus-within .text__two {
  left: 50% !important;
  top: 50% !important;
}
.main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__wrapper .wrapper__description .description__action-btn:hover .action-btn__icon, .main-content__tab-content.tab-content_services .tab-content__services .services__el .el__content .content__front .front__wrapper .wrapper__description .description__action-btn:focus-within .action-btn__icon {
  right: -50%;
  rotate: 360deg;
}
.main-content__tab-content.tab-content_history {
  left: calc(200% - (var(--step) - 1) * 200%);
}
.main-content__tab-content.tab-content_history .tab-content__history-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4em;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el {
  --step: 0;
  box-shadow: 0px 0.6em 1.2em rgba(74, 66, 184, 0.25), 0px 0px 0.1em rgba(74, 66, 184, 0.25);
  position: relative;
  width: 100%;
  border-radius: 1em;
  height: 25em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.5em;
  background: var(--color-bg-modal-back);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__background .background__circles {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__background .background__circles::after {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  content: "";
  z-index: 2;
  position: absolute;
  inset: 0;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__background .background__circles svg {
  position: absolute;
  z-index: 1;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__background .background__circles svg:nth-child(1) {
  top: -7%;
  left: 76%;
  width: 20%;
  opacity: 0.4;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__background .background__circles svg:nth-child(2) {
  top: 66%;
  left: 50%;
  width: 50%;
  opacity: 0.6;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__background .background__circles svg:nth-child(3) {
  top: 27%;
  left: -16%;
  width: 60%;
  opacity: 0.9;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__background .background__images {
  position: relative;
  width: 90%;
  height: 65%;
  display: flex;
  gap: 2em;
  justify-content: space-between;
  z-index: 10;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__background .background__images .images__el {
  flex: 1 1 100%;
  position: relative;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__background .background__images .images__el img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  color: var(--color-text);
  display: grid;
  place-content: center;
  transition: var(--transition-main);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 0px 0.6em 1.2em rgba(74, 66, 184, 0.25), 0px 0px 0.1em rgba(74, 66, 184, 0.25);
  position: relative;
  width: 60em;
  height: 80%;
  background: var(--color-bg-modal);
  z-index: 10;
  border-radius: 0.5em;
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: space-between;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__status {
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--font-size-3);
  width: 2em;
  height: auto;
  aspect-ratio: 1;
  background: var(--color-text);
  translate: 50% -50%;
  border-radius: 99px;
  display: grid;
  place-items: center;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__status.status_done svg {
  rotate: -11deg;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__status svg {
  fill: var(--color-main);
  width: 1em;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__header {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__header .header__id {
  color: var(--color-accent);
  font-size: var(--font-size-5);
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__header .header__title {
  font-family: "YandexSansDisplay", sans-serif;
  font-size: var(--font-size-1);
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__header .header__bottom {
  color: var(--color-text-semivisible);
  font-size: var(--font-size-4);
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__botom {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 2em;
  position: relative;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__botom .bottom__action-btn {
  position: relative;
  background: var(--color-main);
  padding: 1.2em 1em;
  width: 20em;
  border-radius: 99px;
  font-size: var(--font-size-5);
  color: var(--color-text);
  font-weight: 700;
  overflow: hidden;
  transition: var(--transition-slow);
  opacity: 0.85;
  height: 100%;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__botom .bottom__action-btn .action-btn__text {
  position: relative;
  height: 100%;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__botom .bottom__action-btn .action-btn__text span {
  transition: var(--transition-slow);
  background: var(--color-main);
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__botom .bottom__action-btn .action-btn__text span.text__one {
  position: relative;
  top: 0;
  left: -5%;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__botom .bottom__action-btn .action-btn__text span.text__two {
  left: 45%;
  top: -200%;
  translate: -50% -50%;
  position: absolute;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__botom .bottom__action-btn .action-btn__icon {
  position: absolute;
  right: 0;
  top: 0;
  aspect-ratio: 1;
  height: 100%;
  width: auto;
  background: var(--color-text);
  border-radius: 99px;
  display: grid;
  place-items: center;
  rotate: 0deg;
  transition: rotate var(--transition-superslow) ease-out, right var(--transition-slow);
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__botom .bottom__action-btn .action-btn__icon svg {
  width: 1em;
  font-size: var(--font-size-4);
  fill: var(--color-main);
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__botom .bottom__action-btn .action-btn__icon svg.arrow {
  rotate: 45deg;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__botom .bottom__action-btn:hover, .main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__botom .bottom__action-btn:focus-within {
  width: 25em;
  opacity: 1;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__botom .bottom__action-btn:hover .text__one, .main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__botom .bottom__action-btn:focus-within .text__one {
  left: 0% !important;
  top: 200% !important;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__botom .bottom__action-btn:hover .text__two, .main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__botom .bottom__action-btn:focus-within .text__two {
  left: 50% !important;
  top: 50% !important;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__botom .bottom__action-btn:hover .action-btn__icon, .main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__botom .bottom__action-btn:focus-within .action-btn__icon {
  right: -50%;
  rotate: 360deg;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__botom .bottom__price {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__botom .bottom__price .price__title {
  color: var(--color-text-semivisible);
  font-weight: 400;
  font-size: var(--font-size-4);
}
.main-content__tab-content.tab-content_history .tab-content__history-list .history-list__el .el__container .container__botom .bottom__price .price__value {
  color: var(--color-text);
  font-weight: 900;
  font-size: var(--font-size-2);
}
.main-content__tab-content.tab-content_settings {
  left: calc(400% - (var(--step) - 1) * 200%);
}
.main-content__tab-content.tab-content_settings .tab-content__form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 50rem;
}
.main-content__tab-content.tab-content_settings .tab-content__form[data-status="200"] .form__status.status_200, .main-content__tab-content.tab-content_settings .tab-content__form[data-status="400"] .form__status.status_400 {
  transform: translateX(0%);
  opacity: 1;
  transition: var(--transition-slow) ease-in-out;
  z-index: 999;
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__status {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  transform: translateX(10%);
  opacity: 0;
  display: flex;
  width: 100%;
  padding: 1em 2em;
  border-radius: 1em;
  gap: 2em;
  background: var(--color-bg-element);
  position: absolute;
  top: calc(100% + 2em);
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__status svg {
  width: 1em;
  font-size: var(--font-size-3);
  color: var(--color-text);
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__status .status__description {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__status .status__description .description__title {
  font-family: "YandexSansDisplay", sans-serif;
  font-size: var(--font-size-5);
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__status .status__description .description__message {
  font-size: var(--font-size-6);
  color: var(--color-text-semivisible);
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__status .status__description .description__list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: var(--font-size-6);
  padding-left: 2em;
  list-style: disc;
  color: var(--color-delete);
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__status .status__description .description__list li p {
  color: var(--color-delete);
  font-size: var(--font-size-6);
  opacity: 0.7;
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__status.status_error svg {
  color: var(--color-delete);
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__status.status_success {
  transition: var(--transition-slow) ease-in-out;
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__status.status_success svg {
  color: var(--color-success);
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__group {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__group:has(.container__submit) {
  margin-top: auto;
  align-items: center;
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__row {
  width: 100%;
  position: relative;
  display: flex;
  gap: 1em;
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__input {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background: var(--color-bg-element);
  border-radius: 1rem;
  padding: 1em;
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__input:has(input:disabled) {
  opacity: 0.65;
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__input svg {
  position: absolute;
  left: 1.5em;
  width: 1em;
  top: 50%;
  translate: -50% -50%;
  font-size: var(--font-size-4);
  color: var(--color-main);
  stroke-width: 1.8px;
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__input input {
  font-size: var(--font-size-5);
  padding-left: 3em;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  outline: none;
  transition: 0.5s ease;
  background: none;
  color: var(--color-text);
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__input input:disabled {
  color: var(--color-text-semivisible);
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__input input::-moz-placeholder {
  color: var(--color-text-semivisible);
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__input input::placeholder {
  color: var(--color-text-semivisible);
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__submit {
  box-shadow: 0px 0.6em 1.2em rgba(74, 66, 184, 0.25), 0px 0px 0.1em rgba(74, 66, 184, 0.25);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1.25em;
  background: var(--color-main);
  color: var(--color-text);
  border-radius: 99px;
  font-weight: bold;
  padding: 0.75em 3.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-size-5);
  letter-spacing: 2px;
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__submit .submit__icon-container {
  flex-shrink: 0;
  width: 2em;
  height: 2em;
  position: relative;
  color: var(--color-main);
  background: var(--color-text);
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__submit .submit__icon-container svg:nth-of-type(2) {
  position: absolute;
  transform: translate(-150%, 150%);
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__submit:hover, .main-content__tab-content.tab-content_settings .tab-content__form .form__submit:focus-within {
  background: var(--color-text);
  color: var(--color-main);
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__submit:hover .submit__icon-container, .main-content__tab-content.tab-content_settings .tab-content__form .form__submit:focus-within .submit__icon-container {
  background: var(--color-main);
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__submit:hover svg:nth-of-type(1):first-child, .main-content__tab-content.tab-content_settings .tab-content__form .form__submit:focus-within svg:nth-of-type(1):first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
  color: var(--color-text);
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__submit:hover svg:nth-of-type(2), .main-content__tab-content.tab-content_settings .tab-content__form .form__submit:focus-within svg:nth-of-type(2) {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
  color: var(--color-text);
}
.main-content__tab-content.tab-content_settings .tab-content__form .form__plain-btn {
  color: var(--color-text);
  text-decoration: underline;
  background: none;
  flex: 1 0 9em;
  text-align: center;
}
.main-content[data-tabs-state=services] {
  --step: 1;
}
.main-content[data-tabs-state=history] {
  --step: 2;
}
.main-content[data-tabs-state=settings] {
  --step: 3;
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }
  0% {
    transform: rotateZ(360deg);
  }
}
@keyframes collapse_animation {
  0% {
    transform: rotate(360deg) scale(0.8);
  }
  50% {
    transform: rotate(0) scale(1.2);
  }
}
@keyframes appear-animation {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes highlight-animation {
  0% {
    background: var(--color-text);
  }
  50% {
    background: transparent;
  }
  75% {
    background: var(--color-text);
  }
  100% {
    background: transparent;
  }
}